<link rel="stylesheet" href="{{ asset('bundles/raindropupload/css/upload.css') }}" type="text/css" media="all" />

<a data-toggle="modal" href="#myModal"><i class="icon-tag"></i> UPLOAD</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <script src="{{ asset('bundles/raindropupload/ckfinder/ckfinder.js') }}"></script>
    <script type="text/javascript">

        // This is a sample function which is called when a file is selected in CKFinder.
        function copyToClipboard( fileUrl, data, allFiles )
        {
            window.prompt("Copy to clipboard: Ctrl+C, Enter", data['fileUrl']);
        }

        // You can use the "CKFinder" class to render CKFinder in a page:
        var finder = new CKFinder();

        // The path for the installation of CKFinder (default = "/ckfinder/").
        finder.basePath = '../';

        // The default height is 400.
        finder.height = 600;
        // This is a sample function which is called when a file is selected in CKFinder.
        finder.selectActionFunction = copyToClipboard;
        finder.create();
        
        //fix incompatibility between boostrap and CKFinder: WORKAROUND
        $('a[href=#myModal]').on('click', function(){
            $(document).on('focusin.bs.modal.cke_dialog_ui_input_text', function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    return false;
            })
        })
    </script>
</div>
